<div class="container">
	<h2>Întrebări frecvente</h2>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- Nav tabs category -->

            <!-- Tab panes -->
                <div class="tab-pane active in fade">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                    <h4 class="panel-title">
                                        Care este scopul acestei tombole?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Scopul tombolei este de a stimula consumatorii să solicite bonuri fiscale de la agenții economici. Aceasta este o măsură de implicare și responsabilizare a cetățenilor în combaterea evaziunii fiscale.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                    <h4 class="panel-title">
                                        Cine poate participa?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    La tombolă poate participa orice persoană fizică domiciliată în Republica Moldova care a împlinit 18 ani la data înscrierii în concurs.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-3">
                                    <h4 class="panel-title">
                                        Cum mă pot înscrie?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Pentru înscrierea la tombolă este nevoie de un bon fiscal eliberat de un agent economic înregistrat în Republica Moldova.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-4">
                                    <h4 class="panel-title">
                                        Este necesar să mă înregistrez pentru a participa la tombolă?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Nu. Înregistrarea nu este obligatorie, dar în caz de câștig persoanele înregistrate vor fi informate printr-un email.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-5">
                                    <h4 class="panel-title">
                                        La tombolă poate participa orice bon fiscal?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Da. Orice bon fiscal eliberat pe teritoriul Republicii Moldova, cu suma minimală de 10 lei, indiferent de data sau conținutul acestuia.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-6">
                                    <h4 class="panel-title">
                                        Mă pot înscrie de mai multe ori?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Da. O persoana poate înscrie un număr maxim de 5 bonuri fiscale pe zi. Un bon poate fi înscris o singură data.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-7">
                                    <h4 class="panel-title">
                                        Bonurile fiscale înscrise în concurs trebuie păstrate?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-7" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Da, este necesar păstrarea bonurilor fiscale până la finalizarea tombolei.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-8">
                                    <h4 class="panel-title">
                                        Cum se alege câștigătorul?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-8" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Câștigătorul este ales prin tragere la sorți utilizîndu-se un sistem aleatoriu de generare în baza numărului bonului fiscal și numărului de înregistrare a aparatului de casă.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-9">
                                    <h4 class="panel-title">
                                        Care este numărul maxim de câștigători la tombolă?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-9" class="panel-collapse collapse">
                                <div class="panel-body">
                                    La fiecare tombolă va fi un câștigător la fiecare categorie de bonuri fiscale.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-10">
                                    <h4 class="panel-title">
                                        Ce reprezintă categoriile bonurilor fiscale?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-10" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Sunt 3 categorii de înregistrare a bonurilor fiscale în dependență de suma acestuia care poate fi cuprinsă în intervalul de la  5 - 99 lei,  100 - 499 lei și cele cu suma mai mare de la 500 lei.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-11">
                                    <h4 class="panel-title">
                                        Care sunt șansele de câștig?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-11" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Șansele de câștig depind de numărul bonurilor fiscale înregistrate în tombolă și numărul de bonuri înregistrate în fiecare categorie. Fiecare bon introdus, reprezintă o șansă în plus de câștig.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-12">
                                    <h4 class="panel-title">
                                        Ce premii se oferă?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-12" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Valoarea premiilor va fi în dependență de finanțatorii tombolei.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-faq">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-13">
                                    <h4 class="panel-title">
                                        Cum aflu dacă am câștigat?
                                        <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                                    </h4>
                                </a>
                            </div>
                            <div id="faq-cat-1-sub-13" class="panel-collapse collapse">
                                <div class="panel-body">
                                    La sfîrșitul tombolei, bonurile câștigătoare vor fi afișate pe site, deseamea câștigătorii înregistrați vor fi informați printr-un email.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
          </div>
        </div>
    </div>

