<header>
  <h1>Influencers</h1>
  
</header>

<table class="table table-hover table-influencers">
  <thead>
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Name</th>
      <th>Social links</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= fa_icon "youtube", class: "fa-2x" %> 
  </tbody>
</table>

