<% if !citizen_signed_in? %>
<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
              <%= image_tag("logo_bonus.png", class: "img-responsive img-fluid", style: "max-width: 100%;; ") %>
            <br/>
            <p class="title-logo">Cere bonul de casă și câștigă!</p>
            <hr class="light">
            <table align="center">
             <tr>
              <td>
                <a href="/citizens/sign_up" class="btn btn-warning btn-lg"> Înregistrează-te </a>
               </td>
               <td>
               ___________________
               </td>
               <td>
                <a href="/citizens/sign_in" class="btn btn-success btn-lg "> Conectează-te </a>
                </td>
              </tr>
              </table>
              <div class="fa-stack fa-2x" align="center" style="padding-top: 10px">
                <a href="#about"  class="page-scroll" >
                  <i class="fa fa-angle-double-down animated" id="fa-color"></i>
                </a>
            </div>
         </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <%= image_tag("intro.png", class: "img-responsive img-fluid",style: "max-width: 100%;") %>
        <div class="fa-stack fa-2x" align="center" style="padding-top: 10px">
          <a href="#categories"  class="page-scroll" >
            <i class="fa fa-angle-double-down animated" id="fa-color"></i>
          </a>
        </div>
    </div>
  </div>
</section>

<section id="categories" class="container content-section text-center" >
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <%= image_tag("categorii.png", class: "img-responsive img-fluid",style: "max-width: 100%;") %>
    </div>
  </div>
</section>



<footer>
  <div class="container text-center">
    <p>Copyright &copy; Bonus Fiscal 2016</p>
  </div>
</footer>


<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
