<div class="container">
  <h2>Raportează </h2>

<table>
  <tr>
    <td align="center" class="col-md-2 col-lg-offset-2">
      <%= image_tag("fisc.png",
        :alt => "brand",
        :style => "max-width:120px") %>
    </td>
    <td class="col-md-8 report">
        Serviciul Fiscal de Stat vine cu o doleanță către toți cetățenii să ceară bonul de casă la orice achiziţie efectuată, în caz de neeliberare a acestuia, apelaţi la telefonul  <strong> 080001525 </strong>(apel gratuit din rețeaua mobilă și fixă).<br/><br/>
        Cere bonul de casă și vei contribui la combaterea evaziunii fiscale!<br/><br/>

        Doar implicarea îți asigură bunăstarea!

    </td>
  </tr>

</table>

<%= render 'submissions/form', submission: @submission %>






</div>
