<h2>Raportează Frauda</h2>


Întru realizarea politicii sale privind frauda şi corupţia Fondul Provocările Mileniului Moldova (FPM Moldova) va utiliza LINIA FIERBINTE a Oficiului Inspectorului General al USAID drept mecanism de raportare a cazurilor de irosire, fraudă sau abuz. Angajaţii, contractorii, consultanţii şi publicul pot raporta cazurile de irosire, fraudă sau abuz în privinţa fondurilor sau proprietăţii utilizate de FPM Moldova prin telefon, email sau poştă.
Scopul LINIEI FIERBINŢI a Oficiului Inspectorului General este de a recepţiona plîngerile privind cazurile de irosire, fraudă sau abuz în operaţiunile FPM Moldova, inclusiv privind gestionarea neadecvată sau nerespectarea legislației, regulamentelor sau cerinţelor de către angajaţii, consultanţii, contractorii sau participanţii în cadrul programului.

 <table class="table table-tickets ">
        <tr>
          <td>Metoda de raportare prin LINIA FIERBINTE</td>
          <td>Informaţia de contact</td>
          <td>Confidenţial</td>
        </tr>
        <tr>
          <td>Telefon</td>
          <td>1-800-230-6539 or 202-712-1023</td>
          <td>DA, la solicitare</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>mcchotline@usaid.gov</td>
          <td>NU</td>
        </tr>
        <tr>
          <td>Poştă</td>
          <td>Agenţia SUA pentru Dezvoltare Internaţională Oficiul Inspectorului General (USAID/OIG/I)
P.O. Box 657 Washington, DC 20044-0657</td>
          <td>DA, la solicitare</td>
        </tr>
 </table>

 OIG acordă servicii de supraveghere pentru USAID şi Corporația Provocările Mileniului. Plîngerile pot fi depuse direct de angajaţii şi participanţii în program, consultanţi, contractori sau publicul larg. Regulamentul privind Inspectorul General şi alte legi asociate prevăd protecţia persoanelor care depun plîngeri prin Linia fierbinte. Plîngerile pot fi depuse prin poşta electronica, telefon sau poşta SUA. În acelaşi timp dacă alegeţi să depuneţi plîngerile prin poşta electronică trebuie să renunţaţi la confidenţialitate din cauza faptului că sistemele de poştă electronică nu garantează securitate.
<br>
FPM Moldova va asigura plasarea informaţiei date pe pagina web şi în oficiile FPM Moldova precum şi cele ale Agentului Financiar şi Agentului de Procurări.
