<div class="container">
  <h2>Raportări</h2>
  <% if !@submissions.empty? %>
    <div class="container col-md-6 col-md-offset-3">
      <table class="table">
        <% i = 0 %>
        <% @submissions.each do |s| %>
            <%i = i+1%>
            <tr class='clickable-row' data-href = <%= submission_path(s) %>>
              <td ><%= i %></td>
              <td cursor="pointer"><%= s.institution_name %></td>
              <td>
                <%= link_to 'Detalii', s %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>
  <%else%>
    <h4 style="color:#ff9933;">Nu sunt raportări înregistrate</h4>
  <% end %>

  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
      });
    });
  </script>
</div>
