<div class="jumbotron">
  <div class="tabbable">
    <ul class="nav nav-tabs nav-justified">

      <li class="active"><a href="#alchemy_tab"  data-toggle="tab">
        Alchemy
      </a></li>
      <li><a href="#content_tab"  data-toggle="tab">
         Story
      </a></li>


<!--       <li><a href="#insights_tab"  data-toggle="tab">
         Isights
      </a></li> -->


    </ul>
  </div>

  <div class="tab-content">
    <div id="content_tab" class="tab-pane">
      <div class="text-left"> <%= fa_icon "thumbs-o-up"%> <strong>  Likes: </strong>  <%= @post.likes %> </div>
      <div class="text-left"><%= @post.content %></div>
    </div>

    <div id="alchemy_tab" class="tab-pane active">
      <div class="chart-sentiments">
        <%= bar_chart @sentiment_data %></pre>
      </div>
    </div>


<!-- 
    <div id="insights_tab" class="tab-pane">
      Lorem Ipsum
    </div> -->
  </div>
</div>



