// Place all the styles related to the authentications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  align-content: center;
  text-align: center;
}

.row {
  align-items: center;
}