
 .form-bordered {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px;
  margin-top: 80px;

  h3 {
    text-align: center;
    padding: 10px;
  }
}

main {
  padding-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.social-link {
  color: #222;
  font-size: 18pt;
  padding: 0 5px;
  &:hover {
    text-decoration: none;
  }

  &.youtube:hover {
    color: #bb0000;
  }

  &.facebook:hover {
    color: #3b5998;
  }

  &.instagram:hover {
    color: #125688;
  }

  &.pinterest:hover {
    color: #cb2027;
  }

  &.twitter:hover {
    color: #00aced;
  }

  &.google-plus:hover {
    color: #dd4b39;
  }

  &.vine:hover {
    color: #00bf8f;
  }

  &.vk:hover {
    color: #45668e;
  }

  &.tumblr:hover {
    color: #32506d;
  }
}

.table-influencers {
  tr {
    th, td {
      vertical-align: middle;
    }
  }
}

.influencer-image {
  border-radius: 3px;
}
