// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-body{
/*	color: #579a43;*/
font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-title{
	color: #579a43;
}

.report{
	font-size: 10;
}

.title-logo {
  color: grey;
}
#fa-color{ 
    color: black;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}
