<h2>Câștigători</h2>

<% if citizen_signed_in? %>
  <% if current_citizen.email == "cristian.cartofeanu@gmail.com" || current_citizen.email == "macrinici.d@gmail.com" || current_citizen.email == "andrei.capastru@gmail.com" %>
    <div align="center">
    <a href="/generatewinners" class="btn btn-info" role="button">Generează câștigătorii</a>
    </div>
    <br>
  <% end %>
<% end %>
<% if !@winners.empty? %>

<!-- Small win -->
<div class="container col-md-4">
  <table class="table table-tickets">
      <tr>
        <td align="center">De la 10 la 99 lei</td>
      </tr>
    <% @winners.each do |t| %>
      <% if t.ticket %>
      <tr>
        <td><%= t.ticket.winning_id %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>

<!-- Medium win -->
<div class="container col-md-4">
  <table class="table table-tickets">
      <tr>
        <td align="center">De la 100 la 499 lei</td>
      </tr>
    <% @winners.each do |t| %>
      <% if t.ticket %>
      <tr>
        <td><%= t.ticket.winning_id %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>

<!-- Biggest win -->
<div class="container col-md-4">
  <table class="table table-tickets">
      <tr>
        <td align="center">De la 500 lei </td>
      </tr>
    <% @winners.each do |t| %>
      <% if t.ticket %>
      <tr>
        <td><%= t.ticket.winning_id %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>


<%else%>
<h3>Nu sunt tichete câștigătoare</h3>
<% end %>
