<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Pagina Principală</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                   <!--  <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Înregistrează Ticket</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/report">Raportează</a>
                    </li> -->
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Bonus Fiscal 2016. Toate drepturile rezervate</p>
            </div>
        </div>
    </div>
</footer>
