<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <%= link_to "Aggregator", root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <%= link_to "Influencers", "#", class: "nav-item nav-link" %>
    </ul>
  </div>
</nav>
